.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    background-color: aqua;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 10px;
}
.nav{
    background-color: aqua;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 10px;
}
.mother{
    display: flex;
    margin: 10px;
    align-content: space space-around;
    justify-content: space-around;
}
.article{
    background-color: aqua;
    width: 60%;
    height: 60px;
    text-align: center;
    margin: 5px;
}
.section{
    background-color: aquamarine;
    height: 30px;
    margin: 10px;
    text-align: center;
}
.aside{
    background-color: aqua;
    width: 40%;
    height: 60;
    text-align: center;
    margin: 5px;
    
}
.footer{
    background-color: aqua;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 10px;
}